<div style="height:auto;min-height:100%;background-color:#F0F2F5;">

  <div style="margin: 0 auto; width: 1080px;background-color: white;line-height: 44px;">
    <div nz-row style="text-align: center;font-family:'Arial','Microsoft YaHei','黑体','宋体',sans-serif;" >
      <div nz-col [nzSpan]="2"><img src="./assets/img/logo.png"></div>
      <div nz-col [nzSpan]="2"><button nz-button  style="border:0;">首页</button></div>
      <div nz-col [nzSpan]="2"><button nz-button  style="border:0;">目标&计划 </button></div>
      <div nz-col [nzSpan]="2"><button nz-button  style="border:0;">随笔</button></div>
      <div nz-col [nzSpan]="2"><button nz-button  style="border:0;">IPA</button></div>
      <div nz-col [nzSpan]="8"></div>
      <div nz-col [nzSpan]="2"><button nz-button  style="border:0;">登录</button></div>
      <div nz-col [nzSpan]="2"><button nz-button  style="border:0;">个人中心</button></div>
      <div nz-col [nzSpan]="2"><nz-avatar nzIcon="anticon anticon-user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar></div>
    </div>
  </div>

  <div style="min-height: 700px;margin: 8px auto; width: 1080px;background-color: #F0F2F5;">
    <div style="margin: 4px auto;width: 246px;background-color: white;float: left">
      <ul nz-menu [nzMode]="'inline'" style="">
        <li nz-menu-item>
          <span title><i class="anticon anticon-mail"></i>新建标签</span>
        </li>
        <li nz-menu-item>
          <span title><i class="anticon anticon-appstore"></i> 日记</span>
        </li>
        <li nz-menu-item>
          <span title><i class="anticon anticon-setting"></i> 随笔</span>
        </li>
      </ul>
    </div>

    <div style="margin: 4px auto;width: 826px;background-color: white;float: right">

      <div>
        <div style="display: inline-block;font-size: 18px;color: #6d757a;padding-left: 15px;padding-top: 8px" nz-row>
          <span>随笔</span>
        </div>
        <div style="padding-top: 4px;" nz-row>
          <div nz-col [nzSpan]="2" [nzOffset]="14"><button nz-button >新建</button></div>
          <div nz-col [nzSpan]="2"><button nz-button >新建</button></div>
          <div nz-col [nzSpan]="6" style="padding-right: 8px">
            <nz-input-group nzSuffixIcon="anticon anticon-search">
              <input type="text" nz-input placeholder="input search text">
            </nz-input-group>
          </div>
        </div>
      </div>

      <div style="margin: 16px;clear: both">
        <div style="" *ngFor="let item of data">
          <h4><a [routerLink]="['/post/postdetail',item.id]">{{item.title}}</a></h4>
          <span style="padding-right: 20px"><i class="anticon anticon-eye"></i>{{item.id}}</span>
          <span><i class="anticon anticon-form"></i>{{item.time}}</span>
          <nz-divider></nz-divider>
        </div>

        <div style="text-align: center">
          <nz-pagination [nzPageIndex]="1" [nzTotal]="50" ></nz-pagination>
        </div>
      </div>


    </div>


  </div>

</div>
